{% extends "base.html" %}

{% block content %}
<main class="main main--about">
    <p>
        I am a data analytics professional with over 5 years of experience enabling businesses to make data-driven decisions. I build critical dashboards and data sources that empower leadership with actionable insights. My work involves leveraging tools such as Python, SQL, Tableau, and Databricks to create efficient, scalable solutions.
    </p>
    <p>
        I have a deep curiosity for emerging technologies, particularly in the fields of Data Science, Machine Learning, and Data Engineering. To further enhance my skill set, Ive engaged in continuous learning across these domains and applied my knowledge in personal projects, such as developing a Python-based Zillow web scraper and a price prediction model in Tableau. I am also expanding my Python knowledge learning end to end MLOps and using Flask and Jinja2 for Backend Web Dev and API creation. This inlcudes building this portfolio website myself!
    </p>
    <p>
        As I grow in my career, Im particularly interested in exploring ways to apply advanced analytics, machine learning, and data-driven strategies to solve complex business challenges. I thrive on learning, experimenting, and finding innovative ways to improve processes and decision-making.
    </p>
    <p>
        Outside of work, Im an avid traveler and outdoor enthusiast. Ive visited over 20 National Parks in the last three years, and I love running, hiking, skiing, and mountain biking in the scenic surroundings of Bozeman, MT, where I live with my wife, dog, and two bunnies! 
    </p>
</main>

{% endblock %}