{% extends "base.html" %}

{% block content %}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:d.fingerhut38@gmail.com">
                    d.fingerhut38@gmail.com
                </a>
            </dd>
        </div>
        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/Dfingerhut">
                    @Dfingerhut
                </a>    
            </dd>
        </div>
        <div class="contact">
            <dt>Tableau Public:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://public.tableau.com/app/profile/drew.fingerhut/vizzes">
                    public.tableau.com/drew.fingerhut
                </a>
            </dd>
        </div>
    </dl>
</main>


{% endblock %}