{% extends "base.html" %}

{% block content %}

<h1 class="header__into">
   I'm an analytics professional experienced in backend web development, business intelligence, and implementing end to end data solutions across the manufacturing, healthcare, and consumer tech industries. Please explore the site to learn more!
</h1>
<h2 class = "header__skills">
    <a class="header__skill"> PYTHON </a>
    <a class="header__skill"> SQL </a>
    <a class="header__skill"> Tableau </a>
</h2>
<main class="main main--home">
    <section class="projects">
        {% for project in projects %}
            <a class="u-bare-link" href="{{ url_for('project', slug=project['slug']) }}">
                <article class="project-card">
                    <img class="project-card__image"
                         src="{{ url_for('static', filename=project['thumb'])}}"
                         alt="{{ project['name'] }} hero image" 
                    />
                    <header class="project-card__meta">
                        <h2 class="project-card__name">{{ project['name'] }}</h2>
                        <ul class="categories">
                            {% for category in project["categories"] %}
                                <li class="categories__tag">{{ category }}</li>
                            {% endfor %}
                        </ul>
                    </header>
                </article>
            </a>
        {% endfor %}
    </section>
</main>
{% endblock %}
