{% extends "base.html" %}

{% block content %}
<section class="header__background">
    <h2 class="header__name text-fall">Hi, I'm Drew Fingerhut</h2>
    <p class="header__into text-fall">
        I am an analytics professional experienced in web development and end-to-end data solutions in the manufacturing, healthcare, and consumer tech industries.
    </p>
    <p class = "header__skills">
        <a class="header__skill"> PYTHON </a>
        <a class="header__skill"> SQL </a>
        <a class="header__skill"> TABLEAU </a>
    </p>
</section>

<main class="main main--home">
    <section class="projects">
        {% for project in projects %}
            <a class="u-bare-link" href="{{ url_for('project', slug=project['slug']) }}">
                <article class="project-card">
                    <img class="project-card__image"
                         src="{{ url_for('static', filename=project['thumb'])}}"
                         alt="{{ project['name'] }} hero image" 
                    />
                    <header class="project-card__meta">
                        <h2 class="project-card__name">{{ project['name'] }}</h2>
                        <ul class="categories">
                            {% for category in project["categories"] %}
                                <li class="categories__tag">{{ category }}</li>
                            {% endfor %}
                        </ul>
                    </header>
                </article>
            </a>
        {% endfor %}
    </section>
</main>
{% endblock %}
